#main_header img{
    width: 100%;
    height: 100%;
    filter:grayscale(100%)
}

#main_header .port-item{
    width: 30%;
}

#mian_header .port-item:hover{
    cursor: pointer;
    opacity: 0.8;
}

.bg-black{
    color: #fff;
    background-color: #000;
}

@media(min-width:1199px){
    .port-item{
        padding: 3.1em !important;
    }
}